<div id="banner" class="books_banner">
	<h1>目录</h1>
</div>

<div id="books" class="cf">
	<div class="wrapper">
		<ul class="cf">
			<% @books.each do |book| %>
				<%= link_to book do %>
					<li>
						<%= image_tag book.book_thumbnail.url(:medium) %>
						<div class="book_overview">
							<h2><%= book.title %></h2>
							<p class="page_count">1 page</p>
						</div>
					</li>
				<% end %>
			<% end %>
		</ul>
		<%= will_paginate @books, previous_label: "上一页", next_label: "下一页" %>
	</div>
</div>